.navBar {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $fondo-principal-difuminado;
    position: fixed;
    margin-bottom: 200px;

    .navAleatorio {
        @include global-button;
        // width: 90%;

        &:hover {
            @include button-hover;
        }
    }

    .navLink {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: black;
            font-family: $fuente-principal;
            font-size: 14px;

        }

        .navLinkText {
            button {
                @include global-button;

            }

            & :hover {
                @include button-hover;
            }

        }

        @media (max-width: 768px) {
            margin-bottom: 10px;
        }
    }

}