.searchBarContainer {

    input {
        border: none;
        background-color: $fondo-negro-difuminado;
        padding: 10px;
        width: 50%;
        @include border-left-radius;
    }

    button {
        border: none;
        background-color: $fondo-secundario;
        padding: 10px;
        @include border-right-radius;
        &:hover{
            filter: brightness(0.5);
            cursor: pointer;
        }
    }

}