.App {
    text-align: center;
    color: $texto-color;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: $fondo-secundario;
    padding: 10px;

    &:hover {
        @include button-hover
    }
}


html,
body {
    font-family: $fuente-principal;
}

html {
    // background-color: black;
    background-image: $fondo-img;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: auto;

}