$fondo-principal: rgb(55, 151, 28);
$fondo-secundario: rgb(100, 192, 155);
$fondo-img: url('../images/starsBlack.png'); 
$fondo-letrero: url('../images/rickymortyLetrero.png');

$fondo-negro-difuminado: rgba(255, 255, 255, 0.7);


$texto-color: #f9f9f9;